body {
  background-color: #020202;
}
.card {
  max-width: 500px;
  margin: 50px auto;
  padding: 24px 16px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: fit-content;
  position: relative;
  height: 162px;
}
.head {
  font-size: 1.5rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
  background-color: #020202;
  padding: 32px;
  border-radius: 6px;
  color: #f5f5f5;
}
.head.active {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom {
  margin-top: 12px;
  background-color: #020202;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
button {
  width: 48%;
  padding: 6px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button.red {
  background-color: red;
  color: white;
}
button.green {
  background-color: green;
  color: white;
  transition: transform 0.2s;
}
button.red:hover,
button.red:active {
  background-color: rgb(170, 0, 0);
}
button.green:hover,
button.green:active {
  background-color: rgb(0, 63, 0);
}
.disabled {
  display: none;
}
